body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: rgb(43, 41, 41);
  color: #ffffff;
}

h1 {
  color: #c0baba;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.container {
display: flex;
justify-content: center;
}

#runUNAButton {
  background-color: #1eaaa3;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#runUNAButton:hover {
  background-color: #8cc9c6;
  transform: scale(1.05);
}

.text {
  font-size: 15px;
  color:#c0baba;
}